@font-face {
    font-family: "Angel";
    src: url("assets/angel.otf") format("otf"), url("assets/angel.ttf") format("truetype");
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fff6d5;
}

#evil-button {
    position: absolute;
    white-space: nowrap;
    font-size: 2rem;
}

.convite-container {
    display: inline;
    justify-content: center;
    align-items: center;
}

.button-container {
    width: 100%;
    height: 100vh;
    display: inline;
    justify-content: center;
    align-items: center;
}

.text-container {
    position: relative;
    height: 400px;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    font-size: 30px;
    margin: 15px;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    border: 0;
    border-color: transparent;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.btn-cancel {
    background-color: rgba(235, 38, 50, 0.6);
}

.btn-cancel:hover {
    background-color: rgb(235, 38, 50);
}

.btn-accept {
    background-color: rgba(66, 184, 131, 0.6);
}

.btn-accept:hover {
    background-color: rgb(66, 184, 131);
}

.come-back-popup,
.thanks-popup {
    position: absolute;
    padding: 20px 30px;
    border: 5px solid #333;
    border-radius: 10px;
    font-size: 28px;
    right: -300px;
}

.come-back-popup {
    top: 10px;
}

.thanks-popup {
    bottom: 10px;
}

.animate-popup {
    animation: 10s slide;
}

@keyframes slide {
    0% {
        right: -300px;
    }
    10% {
        right: 10px;
    }
    90% {
        right: 10px;
    }
    100% {
        right: -300px;
    }
}

.blob {
    box-shadow: 0 0 0 0 rgba(66, 184, 131, 0.6);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(66, 184, 131, 0.6);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(66, 184, 131, 0.6);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(66, 184, 131, 0.6);
    }
}

@keyframes jump-shaking {
    0% {
        transform: translateX(0)
    }
    25% {
        transform: translateY(-5px)
    }
    35% {
        transform: translateY(-5px) rotate(8deg)
    }
    55% {
        transform: translateY(-5px) rotate(-8deg)
    }
    65% {
        transform: translateY(-5px) rotate(8deg)
    }
    75% {
        transform: translateY(-5px) rotate(-8deg)
    }
    100% {
        transform: translateY(0) rotate(0)
    }
}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0eg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.constant-tilt-shake {
    animation: tilt-shaking 2.0s infinite;
}

.rise-shake {
    animation: jump-shaking 1.83s infinite;
}

.card {
    width: 0;
    height: 0;
    border-top: 100px solid #eee;
    border-right: 170px solid #ddd;
    border-bottom: 100px solid #ccc;
    border-left: 170px solid #ccc;
}

.popup-main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 11111;
}


/*Dialog Styles*/

dialog {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 400px;
    max-height: 400px;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
    animation: fadeIn 1s ease both;
}

dialog::backdrop {
    animation: fadeIn 1s ease both;
    background: rgb(255 255 255 / 40%);
    z-index: 2;
    backdrop-filter: blur(20px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.conteudo-container:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-image: url(https://wpzone.co/wp-content/uploads/2019/02/hearts.png);
    animation: falling-hearts 18s linear infinite;
}

@keyframes falling-hearts {
    0% {
        background-position: 0% 30%;
    }
}

@-moz-keyframes falling-hearts {
    0% {
        background-position: 0% 30%;
    }
}

@-webkit-keyframes falling-hearts {
    0% {
        background-position: 0% 30%;
    }
}